<div style="position:absolute;left:-15420px">
    <div style="width:100%;display:flex;">
        <div id="generateBarcode">
            <div style="display:inline-block;vertical-align:middle;">
                <ngx-barcode class="center-block" style="max-height: 0.35in !important; width: 20%; opacity: 1.0"
                    [bc-value]="generateBarcode.barcode" [bc-display-value]="true" [bc-width]="1.2" [bc-height]="30">
                </ngx-barcode>
            </div>
        </div>
    </div>
</div>