<div class="page-header-main">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto col">
            <div class="content-header">
                <h1>{{'USER_GROUPS' | translate}}</h1>
            </div>
        </div>
        <div class="col-md-auto col-sm-auto col-auto">
            <button class="btn blue-btn btn-sm m-right-10" [routerLink]="['/user-groups/manage']">
                <i class="fas fa-plus"></i> {{'ADD_USER_GROUP' | translate}}
            </button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <div class="loading-shade" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <div class="col-sm-6 mb-3">
        <input class="form-control" placeholder="{{'SEARCH_BY_GROUP_NAME' | translate}}" #input>
    </div>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="groupName">
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{'ACTION' | translate}} </th>
            <td mat-cell *matCellDef="let group">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="editGroup(group.id)" mat-menu-item>
                        <mat-icon>edit</mat-icon>
                        <span>{{'EDIT' | translate}}</span>
                    </button>
                    <button (click)="deleteGroup(group)" mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>{{'DELETE' | translate}}</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <ng-container matColumnDef="groupName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'GROUP_NAME' | translate}} </th>
            <td mat-cell *matCellDef="let group"> {{group.groupName}} </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef> {{'STATUS' | translate}} </th>
            <td mat-cell *matCellDef="let group">
                <span *ngIf="group.isActive" class="badge badge-success">{{'ACTIVE' | translate}}</span>
                <span *ngIf="!group.isActive" class="badge badge-warning">{{'INACTIVE' | translate}}</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
