<div class="page-header-main">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto">
            <div class="content-header">
                <h1>{{'MANAGE_GROUP' | translate}}</h1>
            </div>
        </div>
    </div>
</div>
<form autocomplete="off" [formGroup]="groupForm" (ngSubmit)="onGroupSubmit()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label class="text-danger">{{'GROUP_NAME' | translate}} *</label>
                        <input formControlName="groupName" class="form-control" type="text">
                        <div
                            *ngIf="groupForm.get('groupName').touched && groupForm.get('groupName').errors">
                            <div class="text-danger" *ngIf="groupForm.get('groupName').errors?.required">
                                {{'GROUP_NAME_IS_REQUIRED' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

        <div class="m-top-10 col-md-12">
            <button *hasClaim="['GR_ADD_GROUP','GR_UPDATE_GROUP']" type="submit"
                class="btn btn-success btn-sm m-right-10">
                <i class="fas fa-save"></i>
                {{'SAVE' | translate}}
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="onGroupList()">
                <i class="fas fa-times-circle"></i>
                {{'CANCEL' | translate}}
            </button>
        </div>
    </div>
</form>